body {
    background: #f0f0ea;
    text-align: center;
    margin: 0 8%;
    font-size: 16px;
}

h1 {
    font-family: "Requiem Fine A", "Requiem Fine B", "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 86px;
    line-height: 115px;
    color: rgb(70, 58, 58);
    margin: 100px auto 60px;
    padding-top: 40px;
    padding-bottom: 60px;
    border-top: 1px solid #333;
    border-bottom: 4px double #333;
    max-width: 85%;
    letter-spacing: -1px;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
}

#give_it_to_me {
    font-family: 'Requiem Text A', 'Requiem Text B', "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(70, 58, 58, 0.8);
    border-bottom: 1px solid rgba(70, 58, 58, 0.4);
    padding-bottom: 2px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-font-smoothing: antialiased;
}

#give_it_to_me:hover, #give_it_to_me:focus {
    color: #ff4040;
    padding-bottom: 0px;
    border-bottom: 3px double #ff4040;
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 114px;
        line-height: 137px;
        max-width: 75%;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 72px;
        line-height: 87px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 64px;
        line-height: 77px;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        max-width: 90%;
        margin-top: 80px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 52px;
        line-height: 62px;
        max-width: 95%;
        margin-top: 60px;
    }
}

footer {
    position: relative;
    top: 48px;
    left: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

footer:hover {
    opacity: 1.0;
}

@media screen and (max-width: 640px) {
    footer {
        opacity: 1.0;
    }
}

footer p {
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

footer a {
    color: #555;
}